DATABASE_URL="postgresql://postgres:postgres@localhost:5432/eye_optics_saas?schema=public"
SESSION_SECRET="/iGn5uWjkyQ88wgLLybdcyeRDsr+BG4D5bKMMzDF5yRbfra17hHqgcCNIuxsCfr5"
APP_URL="http://localhost:3000"
EMAIL_FROM="Eye Solutions <no-reply@example.com>"
SMTP_HOST=""
SMTP_PORT=""
SMTP_USER=""
SMTP_PASS=""
